/*
*   File to apply font styles 
*/

h1{
    margin: 0;
}

//Bebas

.fontStyle_Color{
    &-black{
        color:$primary-color;
    }
    &-white{
        color:$second-color;
    }
}

@mixin fontStyle_Bebas--headline1{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 96px;
    line-height: 88px;
    text-transform: uppercase;

}

@mixin fontStyle_Bebas--headline2{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 72px;
    line-height: 64px;
    text-transform: uppercase;
    
 

}

@mixin fontStyle_Bebas--headline3{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 64px;
    line-height: 56px;
    text-transform: uppercase;
    

}

@mixin fontStyle_Bebas--headline4{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 48px;
    line-height: 24px;
    text-transform: uppercase;
    

}

@mixin fontStyle_Bebas--headline5{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    text-transform: uppercase;
    

}

@mixin fontStyle_Bebas--headline6{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    text-transform: uppercase;
    

}

//Avenir
@mixin fontStyle_Avenir--headline1{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    
}

@mixin fontStyle_Avenir--headline2{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 72px;
    line-height: 64px;
    
}

@mixin fontStyle_Avenir--headline3{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 64px;
    line-height: 56px;
    
}

@mixin fontStyle_Avenir--headline4{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 32px;
    line-height: 24px;
    
}

@mixin fontStyle_Avenir--headline5{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    
}

@mixin fontStyle_Avenir--headline6{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    
}

@mixin fontStyle_Avenir--subtitle1{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    
}

@mixin fontStyle_Avenir--subtitle1{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    
}

@mixin fontStyle_Avenir--body1{
    opacity: 80%;

    font-family: 'Avenir';
    font-style: italic;

    font-weight: 300;
    font-size: 14px;
    


    line-height: 24px;
    
}

@mixin fontStyle_Avenir--body2{
    opacity: 80%;

    font-family: 'Avenir';
    font-style: italic;

    font-weight: 300;
    font-size: 12px;

    line-height: 24px;
    
}

@mixin fontStyle_Button{
    font-family: 'Avenir';
    font-style: normal;

    font-weight: 900;
    font-size: 10px;

    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}