/*
*   File to apply font styles 
*/
//Bebas
.fontStyle_Bebas--headline1{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 96px;
    line-height: 88px;
    text-transform: uppercase;

}

.fontStyle_Bebas--headline2{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 72px;
    line-height: 64px;
    text-transform: uppercase;

}

.fontStyle_Bebas--headline3{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 64px;
    line-height: 56px;
    text-transform: uppercase;

}

.fontStyle_Bebas--headline4{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    text-transform: uppercase;

}

.fontStyle_Bebas--headline5{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;

}

.fontStyle_Bebas--headline6{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;

}

//Avenir
.fontStyle_Bebas--headline1{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
}

.fontStyle_Avenir--headline2{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 72px;
    line-height: 64px;
}

.fontStyle_Avenir--headline3{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 64px;
    line-height: 56px;
}

.fontStyle_Avenir--headline4{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 32px;
    line-height: 24px;
}

.fontStyle_Avenir--headline5{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
}

.fontStyle_Avenir--headline6{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
}

.fontStyle_Avenir--subtitle1{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
}

.fontStyle_Avenir--subtitle1{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
}

.fontStyle_Avenir--body1{
    font-family: 'Avenir';
    font-style: italic;

    font-weight: 900;
    font-size: 14px;

    line-height: 24px;
}

.fontStyle_Avenir--body2{
    font-family: 'Avenir';
    font-style: italic;

    font-weight: 300;
    font-size: 12px;

    line-height: 24px;
}

.fontStyle_Button{
    font-family: 'Avenir';
    font-style: italic;

    font-weight: 900;
    font-size: 12px;

    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}