/*
*   File to apply font styles 
*/
//Bebas

.fontStyle_Color{
    &-black{
        color:black;
    }
    &-white{
        color:white;
    }
}

.fontStyle_Bebas--headline1{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 96pt;
    line-height: 88pt;
    text-transform: uppercase;
    &-white {
       color: white;
    }
    &-black {
        color: $primary-color;
     }

}

.fontStyle_Bebas--headline2{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 72pt;
    line-height: 64pt;
    text-transform: uppercase;
    
 

}

.fontStyle_Bebas--headline3{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 64pt;
    line-height: 56pt;
    text-transform: uppercase;
    

}

.fontStyle_Bebas--headline4{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 32pt;
    line-height: 24pt;
    text-transform: uppercase;
    

}

.fontStyle_Bebas--headline5{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 24pt;
    line-height: 24pt;
    text-transform: uppercase;
    

}

.fontStyle_Bebas--headline6{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 20pt;
    line-height: 20pt;
    text-transform: uppercase;
    

}

//Avenir
.fontStyle_Avenir--headline1{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 96pt;
    line-height: 88pt;
    
}

.fontStyle_Avenir--headline2{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 72pt;
    line-height: 64pt;
    
}

.fontStyle_Avenir--headline3{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 64pt;
    line-height: 56pt;
    
}

.fontStyle_Avenir--headline4{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 32pt;
    line-height: 24pt;
    
}

.fontStyle_Avenir--headline5{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 24pt;
    line-height: 24pt;
    
}

.fontStyle_Avenir--headline6{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 20pt;
    line-height: 20pt;
    
}

.fontStyle_Avenir--subtitle1{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 18pt;
    line-height: 24pt;
    
}

.fontStyle_Avenir--subtitle1{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 16pt;
    line-height: 24pt;
    
}

.fontStyle_Avenir--body1{
    font-family: 'Avenir';
    font-style: italic;

    font-weight: 900;
    font-size: 14pt;

    line-height: 24pt;
    
}

.fontStyle_Avenir--body2{
    font-family: 'Avenir';
    font-style: italic;

    font-weight: 300;
    font-size: 12pt;

    line-height: 24pt;
    
}

.fontStyle_Button{
    font-family: 'Avenir';
    font-style: normal;

    font-weight: 900;
    font-size: 10pt;

    line-height: 16pt;
    letter-spacing: 1pt;
    text-transform: uppercase;
    
}