/*
*   Arquivo para importar fonts no sistema 
*
@font-face {
    font-family: 'antonio';
    src: url('antonio/antonio-regular-webfont.woff2') format('woff2'),
         url('antonio/antonio-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*/