/*
*   File to define button styles
*/
.Button_container{
    position: relative;
    
    padding: 4px 16px;   
     
    border: 3px solid white;
    background-color: $primary-color;
    color: white;
}

.Button_element{
    background-color: $primary-color;
    position: relative;
    top: 0px;
    right: 0px;
    transition: all 0.5s ease-out 0s;
    @include fontStyle_Button;
}

.Button_container:hover {
    .Button_element{
        top: -12px !important;
        right: -14px !important;
        padding-right: 8px;
        padding-left: 8px;

        
    }
}

.Button_container:active{ 
    .Button_element{
        top: -12px !important;
        right: -20px !important;
        padding-right: 8px;
        padding-left: 8px;
        transition: right 0.1s ease-out 0s !important;
    }
}

.Button_container:focus  {
    outline: none;
}