/*
*   File to create section styles 
*/

/*
*   Section 1
*/
#section_BernardFuriatti {
	position: relative;
	z-index: 2;

	padding-left: 24px;
	padding-top: 24px;
	padding-right: 24px;

	box-sizing: border-box;

	#BernardFuriatti_container {
		display: flex;
		height: 85vh;

		align-items: center;
		justify-content: center;

		border-radius: 2px;
		box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.32);
		background-color: #17171a;

		#BernardFuriatti--body {
			@include fontStyle_Avenir--body2;
		}

		#BernardFuriatti--title {
			@include fontStyle_Bebas--headline1;
		}

		#BernardFuriatti_image {
			mix-blend-mode: lighten;
			height: 90%;
			float: right;
			padding-left: 80px;
		}

		.callToActions_container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-top: 8vh;

			a,
			button {
				margin-left: 16px;
				margin-right: 16px;
			}
		}

		#Mobile--callToActions_container {
			display: none;
		}
	}
}

/*
* Section 2
*/
#section_Brand {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	z-index: 0;
	top: -8px;

	border-top: 1px solid $divider-color;
	border-bottom: 1px solid $divider-color;

	padding-left: 24px;
	padding-right: 24px;
	padding-top: 32px;
	padding-bottom: 32px;

	#section_Brand--title {
		@include fontStyle_Avenir--body2;
	}

	img {
		height: 32px;
		margin-right: 2vw;
		margin-left: 2vw;
	}
}

/*
* Section 3
*/
#section_aboutMe {
	display: flex;
	min-height: 40vh;
	width: 100vw;

	align-items: center;
	justify-content: center;

	padding-left: 32px;
	padding-right: 32px;
	box-sizing: border-box;

	#aboutMe_title--container {
		width: 25%;
		padding-right: 80px;

		div {
			float: right;
		}
	}
	#aboutMe_container {
		display: flex;
		width: 50%;
		box-sizing: border-box;

		padding-left: 40px;
	}
	.aboutMe_body {
		padding-right: 32px;

		@include fontStyle_Avenir--body2;
	}
}

/*
* Section 4 - My Projects
*/
#section_myProjects {
	padding-top: 40px;
	padding-bottom: 80px;

	#section_myProjects--title {
		display: flex;
		justify-content: center;
		margin: 40px;
	}
	width: 100vw;
	background-color: $primary-color;

	.section_myProjects--banner {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 32px;

		.section_myProjects--content {
			width: 30vw;

			h4 {
				@include fontStyle_Avenir--headline4;
				padding-bottom: 32px;
				padding-top: 16px;
			}

			p {
				@include fontStyle_Avenir--body1;
				padding-bottom: 48px;
			}
		}

		img {
			padding-left: 5vw;
			height: auto;
			width: 50vw;
			mix-blend-mode: lighten;
			margin-bottom: 16px;
		}
	}

	/*
    *   Section 5 Banner 2
    */
	#section_myProjects--banner2 {
		justify-content: flex-start !important;

		img {
			padding-left: 0;
			padding-right: 10vw;
			box-sizing: border-box;
		}
	}
}

.fourthSection_moreProject {
	background-color: $primary-color;

	.moreProject_Element {
		display: inline-block;
		width: 30vw;
		// box-sizing: border-box;
		border: black 0px solid;

		transition: border linear 0.3s;
		padding: 48px 24px;

		.element--Id {
			display: flex;
		}

		h4 {
			padding-top: 32px;
			@include fontStyle_Avenir--headline4;
		}

		p {
			position: relative;
			max-width: 80%;
			margin-bottom: 32px;
		}

		img {
			width: 100%;
		}
	}

	// .moreProject_Element:hover{
	//     border: white 12px solid;
	// }

	p {
		@include fontStyle_Avenir--body1;
	}

	.moreProject_grid {
		display: grid;
		grid-template-areas:
			"space0 element0"
			"element1 element0"
			"element1 element2"
			"space1 element2";
		width: 80vw;
		margin: auto;
		justify-content: center;
	}
	.title--0 {
		grid-area: space0;
		justify-self: center;
	}
	.element--0 {
		grid-area: element0;
	}
	.element--1 {
		grid-area: element1;
	}
	.element--2 {
		grid-area: element2;
	}
}

.Mobile_fourthSection_moreProject {
	display: none;
}

/*
* Footer
*/

#section_footer {
	padding: 24px;
	box-sizing: border-box;

	#footer_container {
		padding: 64px;
		display: flex;
		flex-direction: row;

		align-items: center;
		justify-content: center;

		border-radius: 2px;
		box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.32);
		background-color: #17171a;

		p {
			margin: 0;
		}

		#footer--body {
			@include fontStyle_Avenir--body2;
		}

		#footer--body2 {
			@include fontStyle_Avenir--caption;
			margin-top: 32px;
		}

		#footer--title {
			@include fontStyle_Bebas--headline1;
		}

		.callToActions_container {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 32px;

			a {
				margin-right: 16px;
			}
			button {
				margin-left: 16px;
			}
		}

		#footer_signature {
			padding-left: 8vw;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}
}

//ATEN"CÃO TROCA MEDIA ABAIXO
@media only screen and (max-width: 1920px) and (min-width: 1281px) {
	/* hi-res laptops and desktops */

	/*
    * Section 2
    */
	#section_Brand {
		img {
			height: 32px;
		}
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */

	/*
    * Section 2
    */
	#section_Brand {
		img {
			height: 24px;
		}
	}
}
@media only screen and (max-width: 1024px) and (min-width: 961px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */

	/*
    * Section 2
    */
	#section_Brand {
		img {
			height: 24px;
		}
	}
}
@media only screen and (max-width: 960px) and (min-width: 641px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

	/*
    * Section 1
    */
	#section_BernardFuriatti {
		#BernardFuriatti_container #BernardFuriatti_image {
			mix-blend-mode: lighten;
			height: 60%;
			float: right;
			padding-left: 64px;
		}
	}
	/*
    * Section 2
    */
	#section_Brand {
		img {
			height: 24px;
		}
		#Brand--duoGourmet {
			display: none;
		}
	}

	/*
    * Section 3
    */
	#section_aboutMe {
		display: flex;
		height: auto;

		flex-direction: column;

		padding-top: 32px;

		#aboutMe_title--container {
			width: 100%;
			padding-right: 0;

			div {
				float: left;
				h1 {
					@include fontStyle_Bebas--headline2;
				}
			}
		}

		#aboutMe_container {
			display: flex;

			width: 100%;

			box-sizing: border-box;
			padding-left: 0;
			padding-bottom: 24px;
			#aboutMe_body1 {
				padding-right: 24px;
			}
			.aboutMe_body {
				padding-right: 0;
			}
		}
	}

	/*
* Section 4 - My Projects
*/
	#section_myProjects {
		padding-top: 8px;
		padding-bottom: 8px;
		#section_myProjects--title {
			display: flex;
			justify-content: center;
			margin: 40px;
		}
		width: 100vw;
		background-color: $primary-color;

		.section_myProjects--banner {
			display: flex;
			flex-direction: column;
			padding-left: 24px;
			padding-right: 24px;

			.section_myProjects--content {
				width: auto;

				h4 {
					@include fontStyle_Avenir--headline5;
					padding-bottom: 8px;
					padding-top: 24px;
				}

				p {
					@include fontStyle_Avenir--body1;
					padding-bottom: 24px;
				}
			}

			img {
				order: -1;
				padding-left: 0;
				height: auto;
				width: 95vw;
				mix-blend-mode: lighten;
			}
		}
		#section_myProjects--banner2 {
			img {
				margin-left: -24px;
			}
		}
	}

	.fourthSection_moreProject {
		background-color: $primary-color;

		#section_title--h1 {
			h1 {
				@include fontStyle_Bebas--headline3;
			}
		}

		.moreProject_Element {
			width: 40vw;
		}

		h4 {
			padding-top: 32px;
			@include fontStyle_Avenir--headline5;
		}

		.moreProject_grid {
			width: 90vw;

			.space0 {
				justify-content: center;
				display: flex;
			}
		}
	}
}
@media only screen and (max-width: 640px) and (min-width: 481px) {
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

	/*
    * Section 1
    */
	#section_BernardFuriatti {
		padding-left: 8px;
		padding-top: 8px;
		padding-right: 8px;

		#BernardFuriatti_container {
			display: flex;

			align-items: center;
			justify-content: space-between;
			flex-direction: column;

			box-sizing: border-box;
			padding: 24px;

			#BernardFuriatti_container--group {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			#BernardFuriatti--body {
				@include fontStyle_Avenir--body2;
				text-align: center;
			}

			#BernardFuriatti--title {
				@include fontStyle_Bebas--headline3;

				br {
					display: none;
				}
			}

			#BernardFuriatti_image {
				height: 50vh;
				padding: 0;

				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
			}

			.callToActions_container {
				display: none;
			}

			#Mobile--callToActions_container {
				display: flex;
				width: 100%;
				justify-content: space-between;

				a {
					padding-right: 24px;
				}
			}
		}
	}

	/*
    * Section 2
    */
	#section_Brand {
		display: block;

		padding-top: 16px;
		padding-bottom: 16px;

		img {
			height: 24px;
		}

		#Brand--supermix {
			display: none;
		}
		#Brand--duoGourmet {
			display: none;
		}

		#section_Brand--title {
			display: flex;
			justify-content: center;
			margin-bottom: 8px;
		}
		#section_Brand--group {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	/*
    * Section 3
    */

	#section_aboutMe {
		display: flex;
		height: auto;

		flex-direction: column;

		padding-top: 32px;

		#aboutMe_title--container {
			width: 100%;
			padding-right: 0;

			div {
				float: left;
				h1 {
					@include fontStyle_Bebas--headline2;
				}
			}
		}

		#aboutMe_container {
			display: flex;

			width: 100%;

			box-sizing: border-box;
			padding-left: 0;
			padding-bottom: 24px;
			#aboutMe_body1 {
				padding-right: 24px;
			}
			.aboutMe_body {
				padding-right: 0;
			}
		}
	}

	/*
	* Section 4 - My Projects
	*/
	#section_myProjects {
		padding-top: 8px;
		padding-bottom: 8px;
		#section_myProjects--title {
			display: flex;
			justify-content: center;
			margin: 40px;
		}
		width: 100vw;
		background-color: $primary-color;

		.section_myProjects--banner {
			display: flex;
			flex-direction: column;
			padding-left: 24px;
			padding-right: 24px;

			.section_myProjects--content {
				width: auto;

				h4 {
					@include fontStyle_Avenir--headline5;
					padding-bottom: 8px;
					padding-top: 24px;
				}

				p {
					@include fontStyle_Avenir--body1;
					padding-bottom: 24px;
				}
			}

			img {
				order: -1;
				padding-left: 0;
				height: auto;
				width: 95vw;
				mix-blend-mode: lighten;
			}
		}
		#section_myProjects--banner2 {
			img {
				margin-left: -24px;
			}
		}
	}

	/*
	* Section 4.1 - Other projects
	*/
	.fourthSection_moreProject {
		display: none;
	}
	.Mobile_fourthSection_moreProject {
		display: block;

		//css style is on carousel.scss
	}
}
@media only screen and (max-width: 480px) and (min-width: 0) {
	/* smartphones, iPhone, portrait 480x320 phones */
	/*
    * Section 1
    */
	#section_BernardFuriatti {
		padding-left: 8px;
		padding-top: 8px;
		padding-right: 8px;

		#BernardFuriatti_container {
			display: flex;

			align-items: center;
			justify-content: space-between;
			flex-direction: column;

			box-sizing: border-box;
			padding: 24px;

			#BernardFuriatti_container--group {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			#BernardFuriatti--body {
				@include fontStyle_Avenir--body2;
				text-align: center;
			}

			#BernardFuriatti--title {
				@include fontStyle_Bebas--headline5;

				br {
					display: none;
				}
			}

			#BernardFuriatti_image {
				height: 50vh;
				padding: 0;

				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
			}

			.callToActions_container {
				display: none;
			}

			#Mobile--callToActions_container {
				display: flex;
				width: 100%;
				justify-content: space-between;

				a {
					padding-right: 24px;
				}
			}
		}
	}

	/*
    * Section 2
    */
	#section_Brand {
		display: block;

		padding-top: 16px;
		padding-bottom: 16px;

		img {
			height: 32px;
		}

		#Brand--localizaHertz {
			display: none;
		}

		#Brand--falconi {
			display: none;
		}

		#Brand--supermix {
			display: none;
		}
		#Brand--duoGourmet {
			display: none;
		}

		#section_Brand--title {
			display: flex;
			justify-content: center;
			margin-bottom: 16px;
		}
		#section_Brand--group {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	/*
    * Section 3
    */
	#section_aboutMe {
		display: flex;
		height: auto;

		flex-direction: column;

		padding-top: 32px;

		#aboutMe_title--container {
			width: 100%;
			padding-right: 0;

			div {
				float: left;
				h1 {
					@include fontStyle_Bebas--headline2;
				}
			}
		}

		#aboutMe_container {
			display: flex;
			flex-direction: column;

			width: 100%;

			box-sizing: border-box;
			padding-left: 0;
			padding-bottom: 24px;
		}
		.aboutMe_body {
			padding-right: 0;
		}
	}

	/*
	* Section 4 - My Projects
	*/
	#section_myProjects {
		padding-top: 8px;
		padding-bottom: 8px;
		#section_myProjects--title {
			display: flex;
			justify-content: center;
			margin: 40px;
		}
		width: 100vw;
		background-color: $primary-color;

		.section_myProjects--banner {
			display: flex;
			flex-direction: column;
			padding-left: 24px;
			padding-right: 24px;

			.section_myProjects--content {
				width: auto;

				h4 {
					@include fontStyle_Avenir--headline5;
					padding-bottom: 8px;
					padding-top: 24px;
				}

				p {
					@include fontStyle_Avenir--body1;
					padding-bottom: 24px;
				}
			}

			img {
				order: -1;
				padding-left: 0;
				height: auto;
				width: 95vw;
				mix-blend-mode: lighten;
			}
		}
		#section_myProjects--banner2 {
			img {
				margin-left: -24px;
			}
		}
	}

	/*
	* Section 4.1 - Other projects
	*/
	.fourthSection_moreProject {
		display: none;
	}
	.Mobile_fourthSection_moreProject {
		display: block;

		//css style is on carousel.scss
	}

	/*
	* Footer
	*/

	#section_footer {
		padding: 8px;

		#footer_container {

			#footer_signature {
				display: none;
			}
		}
	}
}
